.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container_name {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form-container_name input {
  padding: 9px 0;
  width: 50%;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
}

.form-container_emailComments {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-container_emailComments input {
  padding: 9px 0;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
}

input::placeholder {
  font-style: italic;
  padding-left: 10px;
}

textarea {
  border-radius: 4px;
  border: 1px solid #d0d9d4;
}

textarea::placeholder {
  padding-top: 10px;
  padding-left: 10px;
}