.about-container {
  background-image: url('../../assets/illustration-about\ me-1-desktop.svg'), url('../../assets/illustration-about-me-2-desktop.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: right, left;
}

.about-container_cardsTech {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
