.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
}

.popup-content {
  background-color: white;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content img {
  width: 50%;
}

.popup-content-descrip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 115px;
  right: 150px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .popup-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90vh;
    gap: 0;
    padding: 0;
  }
  .popup-content img {
    width: 100%;
    height: 50%;
  }
  .popup-content-descrip {
    width: 90%;
    gap: 0px;
    height: 50%;
  }
  .close {
    top: 40px;
    right: 40px;
  }
}
