li {
  list-style: none;
}

a {
  text-decoration: none;
}

.card-container {
  box-sizing: border-box;
  border: 1px solid black;
  min-width: 350px;
  padding-bottom: 20px;
}

.card-container img {
  border: 1px solid black;
  width: 200px;
}

.card-container h3 {
  width: 70%;
  margin: 0 auto;
  font-size: 24px;
  line-height: 32px;
}

.card-container ul {
  display: flex;
  gap: 20px;
  padding-right: 30px;
}

.card-container ul li {
  background: #ebf0ee;
}

.btn {
  border: 1px solid black;
  padding: 5px 20px;
}