.home-container {
  background-image: url('../../assets/Header-llustration-desktop@2x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 250px;
  padding-top: 200px;
}

.home-container_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.home-container_text h1 {
  font-size: 48px;
  line-height: 48px;
}

.developer-text {
  color: #36b37f;
}

.home-container_text p {
  font-size: 20px;
  width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .home-container {
    background-size: cover;
  }
}
